name: "CD_AUTOTASK"

env:
  INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
  MNEMONIC: ${{ secrets.MNEMONIC }}
  POLYGON_PK: ${{ secrets.POLYGON_PK }}
  GOERLI_PK: ${{ secrets.GOERLI_PK }}
  ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
  POLYGONSCAN_API_KEY: ${{ secrets.POLYGONSCAN_API_KEY }}
  DEFENDER_TEAM_KEY: ${{ secrets.DEFENDER_TEAM_KEY }}
  DEFENDER_TEAM_SECRET: ${{ secrets.DEFENDER_TEAM_SECRET }}
  DEFENDER_API_KEY_GOERLI: ${{ secrets.DEFENDER_API_KEY_GOERLI }}
  DEFENDER_API_SECRET_GOERLI: ${{ secrets.DEFENDER_API_SECRET_GOERLI }}
  DEFENDER_API_KEY_POLYGON: ${{ secrets.DEFENDER_API_KEY_POLYGON }}
  DEFENDER_API_SECRET_POLYGON: ${{ secrets.DEFENDER_API_SECRET_POLYGON }}
  DEFENDER_API_KEY_ARBITRUM: ${{ secrets.DEFENDER_API_KEY_ARBITRUM }}
  DEFENDER_API_SECRET_ARBITRUM: ${{ secrets.DEFENDER_API_SECRET_ARBITRUM }}
  DEFENDER_API_KEY_ARBI_GOERLI: ${{ secrets.DEFENDER_API_KEY_ARBI_GOERLI }}
  DEFENDER_API_SECRET_ARBI_GOERLI: ${{ secrets.DEFENDER_API_SECRET_ARBI_GOERLI }}

on:
  workflow_dispatch:

jobs:
  cd:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v3"

      - name: "Install Node.js"
        uses: "actions/setup-node@v3"
        with:
          cache: "yarn"
          node-version: "16"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: "Install the dependencies"
        run: "yarn install --immutable"

      - name: "Update the Autotasks"
        run: "yarn upload"
